<header>
    <nav>
      <div class="row nav-bar">
        <img src="../../assets/images/logo-black.png" id="logo">
        <div id="back-forth">
          <button><i class="fas fa-arrow-left"></i></button>
          <button><i class="fas fa-arrow-right"></i></button>
        </div>

        <div class='search-container'>
          <form>
            <input type="text" [(ngModel)]="searchStr" placeholder="Search for song, artist, album..." name='searchStr' class="form-control">
            <button type="submit" class="button" id="btn-search"><i class="fas fa-search"></i></button>
          </form>  
        </div>

        
        
        <div class="row right-nav float-right">
          <!-- <button><i class="fas fa-heart"></i></button> -->
          <button><i class="fas fa-upload"></i></button>
          <button><i class="fas fa-user-circle"></i></button>
        </div>       
      </div>  
    </nav>
</header>
