<header>
    <nav>
      <div class="row nav-bar">
        <a href=""><img src="../../assets/images/logo-black.png" id="logo"></a>
        <div id="back-forth">
          <button (click)="back()"><i class="fas fa-arrow-left"></i></button>
          <button><i class="fas fa-arrow-right"></i></button>
        </div>

        <div class='search-container'>
          <form>
            <input (keyup)="returnSearch()" type="text" [(ngModel)]="searchStr" 
                    placeholder="Search for artist, song, album..." 
                    name='searchStr' class="form-control" 
                    onmouseover="focus();old = value;" 
                    onmousedown = "value = '';" 
                    onmouseup="value = old;">
            <button (click)="sendSearchString(searchStr)" routerLink="/search-result" type="submit" class="button" id="btn-search"><i class="fas fa-search"></i></button>
            <datalist routerLink="/search-result" [hidden]="!searchStr" id="filteredArray">
              <option routerLink="/search-result" *ngFor="let item of displayItems" (click)="sendSearchString(item)">{{item}}</option>
            </datalist>
          </form>  
          
          <!-- <input  type="text" name="empname" list="filteredArray" [(ngModel)]="inputValue"/> -->

        </div>


        
        
        <div class="row right-nav float-right">
          <!-- <button><i class="fas fa-heart"></i></button> -->
          <button><i class="fas fa-upload"></i></button>
          <button><i class="fas fa-user-circle"></i></button>
        </div>       
      </div>  
    </nav>
</header>
