<div id="player">
  <div class="song-progress">
    <div class="progress-bar">
      <div class="time--current">{{currentTime}}</div>
      <input class="progress" type="range" min="0" max="{{secondDuration}}" [value]="seek" (input)="setSeekTo($event)">
      <div class="time--total">{{duration}}</div>
    </div>
  </div>

    <div class="d-flex flex-row">
        <div class="info">
          <div class="currently-playing row flex-nowrap">
          <img src="{{curSong.img}}" onerror="if (this.src != '../../assets/images/logo-icon.png') this.src = '../../assets/images/logo-icon.png'" class="current-album player-image">
          <div class="text-left">
            <h4 class="song-name">{{curSong.title}}</h4>
            <p class="artist-name">{{curSong.artist}}</p>
          </div>       
          </div>
        </div>

        <div class="controls row">
          <div class="heart"><i class="fas fa-heart"></i></div>
          <div class="previous"><i class="fas fa-backward"></i></div>
            <div class="play" *ngIf="!isPlay" (click)="playOrPause()"><i class="fas fa-play"></i></div>
            <div class="pause" *ngIf="isPlay" (click)="playOrPause()"><i class="fas fa-pause"></i></div>
        
          <div class="next"><i class="fas fa-forward"></i></div>
          <div class="shuffle"><i class="fas fa-random"></i></div>
        </div>   
        
        <div class="volumn-bar row">
          <div class="volume"><i class="fas fa-volume-up"></i></div> 
          <div>
            <input type="range" min="0" max="1" step="0.01" value="1" (input)="setVolume($event)">
          </div>  
        </div>
    </div>
</div>
  