<div class="container">
    <div class="category-title title">
        <div class="lines"></div>
        <h1>
        <span>Favorite</span>
        <span>Favorite</span>
        </h1>
        <h2 class="slogan">Your Taste Your Happiness</h2>
    </div>
    <div>
        <table class="table table-striped">
            <thead class="thead thead-light">
                <tr>
                    <th width="5px" scope="col">No</th>
                    <th width="3em" id="trackTitle">Track</th>
                    <th scope="col"></th>
                    <th scope="col">Artist</th>
                    <th class="delete-all" (click)="removeAll()" scope="col">Delete All</th>
                </tr>      
            </thead>
            <tbody>
                <tr *ngFor="let song of favSongList; let i = index"> 
                    <th class="rankNo" scope="row">{{i+1}}</th>
                    <td><img [src]="song.img" class="song-img"></td>
                    <td class="song-title" (click)="openSong(song.url)">{{song.title}}</td>
                    <td class="song-artist" (click)="openSong(song.url)">{{song.artist}}</td>
                    <td (click)="hideme[i] = !hideme[i]; removeFavorite(song.url)" [hidden]="hideme[i]" class="removeBtn btn">Remove</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>